* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*:-webkit-autofill-webkit-autofill{
    background-color: inherit;
}

html, body
{
    height: 100%;
}
fieldset {
    border: 0;
}

@font-face {
    font-family: aadam;
    src: url("fonts/Aadam.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(7px + 1.3vw);
    width: 100%;

    --main-green: hsl(120deg, 50%, 30%);
    --dark-green: hsl(120deg, 40%, 17%);
    --green-white: hsl(120deg, 17%, 91%);
    --white-semigreen: hsl(120deg, 8%, 95%);
    --light-saturated-green:hsl(120deg,35%,85%);
    --green-black: hsl(120deg, 70%, 10%); 
    --lighter-green-black: hsl(120deg, 20%, 25%);
    --even-lighter-green-black: hsl(120deg, 10%, 35%);
    --green-grey: hsl(120deg, 15%, 80%);
    --green-greyest: hsl(120deg, 10%, 85%);
    --white-grey:hsl(0deg,0%,88%);
    --grey:hsl(120deg, 0%, 85%);
    --dark-grey: hsl(120deg, 0%, 45%);
    --greener-grey: hsl(120deg, 20%, 70%);
    --even-greener-grey: hsl(120deg, 30%, 70%);
    --main-red:hsl(0, 70%, 56%);
    --darker-red:hsl(0, 99%, 35%);
    --darkest-red:hsl(0, 99%, 25%);
    --focus-red:hsl(0deg, 100%, 60%);
    --lighter-red:hsl(0, 28%, 65%);
    --lightest-red:hsl(0, 15%, 75%);

    --transparent-green-black: hsla(120deg, 80%, 5%, 0.5);
    --transparent-green: hsla(120deg, 50%, 30%, 0.5);
    color: var(--green-black);
    background-color: var(--green-white);
}

a {
    color: inherit;
    text-decoration: none;
}
button{
    font-size: inherit;
}

header {
    box-shadow: 1px 1px 5px hsla(120deg, 70%, 10%, 0.5);
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 30px;
    font-size: 1.5em;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 6vw;
    width: 100%;
    height: 100%;

}

header ul a {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 3vw;
}

header ul a:hover,
header ul a:focus {
    background-color: var(--green-grey);
}


.logo {
    padding: 0 2rem;
    height: 100%;
    color: var(--main-green);
    font-weight: bold;
    display: flex;
    font-family: 'aadam', 'serif';
    margin-right: auto;
    margin-left: 2rem;
    align-items: center;
    font-size: 1.8em;
    width: fit-content;
}

.logo:hover {
    background-color: var(--green-grey);
}

.logo svg {
    margin: -1.3vw;
    height: 1em;
}

.hidden-heading {
    position: fixed;
    left: -10000px;
}

header li {
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

footer {
    position: relative;
    top: 6em;
    left: 0;
    padding-top: 1em;
    font-size: 0.75em;
    text-align: center;
}

.welcome-hero {
    position: relative;
    width: 100%;
}

.welcome-hero img {
    width: 100%;
}

h1.hidden-heading {
    text-indent: -9999px;
    height: 0;
    margin: 0;
}

.tagline-container {
    color: var(--green-white);
    position: absolute;
    top: 1em;
    left: 4rem;
}

.tagline {
    font-size: 4em;
    font-family: 'aadam', 'serif';
}

.sub-tagline {
    font-size: 1.7em;
}

.sub-tagline::before {
    content: "\A";
    white-space: pre;
}

p{
    margin-bottom: 1em;
}
h3{
    margin-bottom: 1em;
}


.round-btn {
    width: 100%;
    border-radius: 30em;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    background-color: var(--green-grey);
    height: 2em;
    width: 24vw;
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
}

.round-btn:hover,
.round-btn:focus,
form.settingsform [type=submit]:focus,
form.settingsform [type=submit]:hover {
    background-color: rgb(96, 194, 47);
}

.login {
    padding: 0 0vw;
}

.call-to-action {
    color: hsl(120deg 40% 16%);
    background-color: hsl(100deg 68% 68%);
    margin-left: 1vw;
    font-size: 1.5em;
}

.call-to-action:hover,
.call-to-action:focus {
    background-color: rgb(96, 194, 47);
}
.round-btn:active,
form.settingsform [type=submit]:active {
    background-color: rgb(50, 150, 0);
}

.cancel-btn{
    background-color: var(--grey);
}
.cancel-btn:hover,
.cancel-btn:focus {
    background-color: var(--green-grey);
}
.cancel-btn:active {
    background-color: rgb(50, 150, 0);
}

.activity-cards {
    display: flex;
    justify-content: space-around;
}

.activity-cont {
    width: 31vw;
    position: relative;
    ;
    box-shadow: 0px 3px 5px var(--dark-green);
}

.selling-point {
    font-family: aadam;
    color: var(--green-white);
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33vw;
    font-size: 1.25em;
    text-align: center;
}


form {
    font-size: 1.25em;
    margin: 120px auto 0;
    width: max(40vw, 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form label,
form input,
.label {
    display: block;
    width: 100%;
}


form input {
    height: 2em;
    font-size: 1em;
    background-color: var(--green-grey);
    border: none;
    margin-bottom: 1em;
}
.error-message{
    color:var(--darker-red);
    margin-bottom: 1em;
    font-size: 0.75em;
}

form input:focus{
    outline: none;
    background-color: var(--greener-grey);
}

form input[type=submit] {
    font-weight: bold;
}

form .logo-no-header {
    margin-bottom: 0.5em;
}
form>div{
    width:100%;
}
.logo-no-header {
    height: 100%;
    color: var(--main-green);
    font-weight: bold;
    display: flex;
    font-family: 'aadam', 'serif';
    align-items: center;
    font-size: 1.8em;
    width: fit-content;
}

.logo-no-header svg {
    margin: -1.3vw;
    height: 1em;
}


.home-link {
    margin-top: 6em;
    text-align: center;
}
.home-link>a{

    font-size: 1.2em;

}

form.new-plant-form {
    width: min(80vw, 1000px);
    margin: 2em auto 0;
}

.new-plant-form>p,
.new-plant-form>label {
    font-weight: bold;
}

.new-plant-form>p.date-message{
    margin-bottom: 2em;
    font-weight: normal;
}
.new-plant-form>p.date-message.bad-time{
    color:var(--darker-red)
}

.new-plant-form>input {
    margin-bottom: 2em;
}
#planted{
    margin-bottom: 1em;
}
.plant-type-container {
    width: 100%;
    margin-bottom: 2em;
}

div.plant-type-display-container {
    display: flex;
}

fieldset.plant-type-input-container {
    margin-top: 1.25em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.plant-display {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-display-item-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-display-item {
    width: 100%;
    flex-grow: 1;
}

.growing-tip {
    margin: 0 1em;
    flex-grow: 0;
}

.plant-type-radio {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.plant-type-radio+label {
    cursor: pointer;
    width: 15vw;
    margin: 0.5vw;
    max-width: 150px;
    height: 15vw;
    max-height: 150px;
    position: relative;
    background-color: var(--green-grey);
}

.plant-type-radio+label svg {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
}

.plant-type-radio:checked+label {
    outline: var(--dark-green) auto 5px;
    background-color: var(--greener-grey);
}

.plant-type-radio:focus+label {
    box-shadow: var(--even-lighter-green-black) 0px 0px 1em;
    background-color: var(--even-greener-grey);
}

.prop-type-input-container {
    display: flex;
    margin-bottom: 2em;
}

.prop-type-radio {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.prop-type-radio+label {
    cursor: pointer;
    width: 20vw;
    margin: 0.5vw;
    max-width: 200px;
    height: 20vw;
    max-height: 200px;
    position: relative;

    background-color: var(--green-white);
}

.prop-type-radio+label svg {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    max-width: inherit;
    max-height: inherit;
}

.prop-type-radio:checked+label {
    outline: var(--dark-green) auto 5px;
    background-color: var(--greener-grey);
}

.prop-type-radio:focus+label{
    background-color: var(--even-greener-grey);
    box-shadow: var(--even-lighter-green-black) 0px 0px 1em;
}
.prop-type {
    position: absolute;
    font-size: 0.8em;
    left: 50%;
    top: 0.1em;
    transform: translateX(-50%);
    color: var(--green-white);
}


.plants {
    width: min(80vw, 1000px);
    margin: 2em auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100px + 7vw), 1fr));
    gap: 4rem 1rem;
}

.plants>a {
    box-shadow: 1px 1px 5px var(--green-grey);
}

.plants>a:focus {
    outline: none;
}

.plants>a:hover .plant-container-inner,
.plants>a:focus .plant-container-inner {
    background-color: var(--green-greyest);
    box-shadow: 1px 1px 5px var(--lighter-green-black);
}

.plants>a:hover h3,
.plants>a:focus h3 {
    background-color: var(--greener-grey);
}

.plants-container {
    width: min(80vw, 1000px);
    margin: 2em auto 0;
}
.plants-container>h2 {
    font-family: aadam;
    font-size:1.75em;
    margin-bottom: 0;
}
.plants-container>h2::after{
    display: block;
    content:'';
    background-color: var(--green-black);
    margin-top:0.75rem;
    height:0.25rem;
    width: 2em;
}
.plants-container>p {
    margin:0;
}

.plant-container {
    padding: 1rem;
    position: relative;
}

.plant-container::before {
    content: "";
    padding-top: calc(182% + 11px);
    display: block;
}

.plant-container-inner {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}

.plant-container-inner>h3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--green-greyest);
}

.plant-container-inner>h3::before {
    content: "";
    padding-top: 50%;
    display: block;
}


.plant-container-inner>h3>div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.plant-container-inner>h3>div>span {
    font-size: calc(19px + 0.4vw);
    display: block;
    width: 100%;
    text-align: center;
    
}

.plant-container-inner>h3>div>span.plant-subtitle {
    font-weight: 400;
    color: var(--lighter-green-black);
    font-size: calc(12px + 0.4vw);
}

.plant-container-inner>h3>div>span.plant-subtitle>.plant-subtitle-date {
    font-weight: bold;
}


.plant-container-inner>svg {
    align-self: center;
    width: 100%;
    height: 70%;
    width: 87%;
}

.progress-bar {
    width: 100%;
    background-color: var(--green-grey);
    position: relative;
}

.progress-bar::before {
    content: "";
    padding-top: 11.1111%;
    display: block;
}

.progress-bar>.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-green);
}

.progress-bar>.progress>span {
    position: absolute;
    left: -10000px;
}

.plant-container-inner>h3.new-plant-button-title {
    background-color: var(--grey);
}

.new-plant-plus{
    color: var(--dark-grey);
    font-size: calc(65px + 9vw);
    height: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 106.5%;
}
.progress-bar.new-plant-bar{
    background-color: var(--grey);
}
.plants>a:focus div.new-plant-plus,
.plants>a:hover div.new-plant-plus{
color: var(--main-green);
}
.plants>a:focus div.new-plant-bar,
.plants>a:hover div.new-plant-bar {
    background-color: var(--greener-grey);
}
.plant-details {
    width: min(80vw, 1400px);
    margin: 2em auto 0;
    display: flex;
}

.plant-details-info {
    padding: 0 2em;
    width: 60%;
}

.plant-details-info>*:not(h2) {
    margin-bottom: 1rem;
}

.plant-details-info>h1{
    font-family: aadam;
}
.plant-details-info>h1::after{
    display: block;
    content:'';
    background-color: var(--green-black);
    margin-top:0.75rem;
    height:0.25rem;
    width: 2em;
}
.plant-details-info h2{
font-size: 1em;
font-weight: 400;
}
.plant-details-info p {
    font-weight: bold;
}


.plant-details-display-container {
    width: 40%;
    background-color: var(--green-grey);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 26vw;
}

.plant-details-display {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: grow 9s linear infinite;
    transform-origin: bottom;
}

.plant-details-display>svg {
    animation: cf3FadeInOut 9s linear infinite;
    position: absolute;
    width: 100%;
    height: 115%;
    transform: translateY(8%);
    opacity: 0;
}

.plant-details-display>svg.plant-display-svg-1 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.plant-details-display>svg.plant-display-svg-2 {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.plant-details-display>svg.plant-display-svg-3 {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.plant-details-actions {
    width: min(80vw, 1400px);
    margin: 0 auto 0;
    display: flex;
    padding: 2em 0 0 2em;
}

.plant-details-actions>a {
    width: 33%;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.plant-details-actions>a:focus {
    outline: none;
}

.plant-details-actions>a:hover>svg,
.plant-details-actions>a:focus>svg {
    background-color: var(--greener-grey);
    box-shadow: 1px 1px 5px var(--lighter-green-black);
}

.plant-details-actions>a>svg {
    margin-right: 1em;
    background-color: var(--green-grey);
    padding: 0.4em;
    width: 4em;
    height: 4em;
    border-radius: 2em;
}



.settings-actions{
    padding: 0 6rem;    
    margin: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.settings-actions>a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    flex-direction: column;
    padding-top: 1rem;
    width:30%;
}
.settings-actions>a.current {
   background-color: var(--white-grey);
}


.settings-actions>a:focus {
    outline: none;
}
.settings-actions>a:hover,
.settings-actions>a:focus{
    background-color: var(--green-greyest);
}

.settings-actions>a:hover>svg,
.settings-actions>a:focus>svg {
    background-color: var(--greener-grey);
    box-shadow: 1px 1px 5px var(--lighter-green-black);
}

.settings-actions>a>svg {
    background-color: var(--green-grey);
    padding: 0.4em;
    width: 4em;
    height: 4em;
    border-radius: 2em;
}
.settings-caption{
    text-align: center;
    margin-top: 0.5em;
}


.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-green-black);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.delete-modal {
    background-color: var(--green-white);
    padding: 6em;
    text-align: center;
}
.transplant-modal{
    margin: 0;
    font-size: 1em;
    background-color: var(--green-white);
    padding: 4em 1em;
}
.transplant-modal > *:not(label){
margin-bottom: 2rem;
}
.delete-modal h2, .transplant-modal h2{
    font-family: aadam;
}
.delete-modal h2,.delete-modal label{
    display: block;
}
.delete-modal-actions{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.delete-modal-actions a.delete{
    margin-top: 1em;
background-color: var(--main-red);
}

.delete-modal-actions button{
    margin-top: 1em;
}

.delete-modal-actions a.delete:focus,
.delete-modal-actions a.delete:hover{
    outline: none;
    background-color:var(--focus-red);
    box-shadow: 1px 1px 5px var(--darker-red);
    }

    .profile-cont{
        margin: 2rem 2rem 0 2rem;
        padding:0 6rem ;
    }
    .profile-cont h2{
        font-size: 2em;
        font-family: aadam;
        margin-bottom: 0.5em;
    }
    .profile-cont>h2::after {
        display: block;
        content: '';
        background-color: var(--green-black);
        margin-top: 0.75rem;
        height: 0.25rem;
        width: 2em;
    }
    .profile-cont h3{
        margin-bottom: 0.5em;
    }
    .profile-cont>div{
        margin:0 0 2rem 0;
        display: flex;
        flex-direction: column;
    }
    .logout-btn{
        margin-bottom:2rem;
    }

    form.settingsform{
        text-align: left;
        font-size: 1em;
        margin:  0;
        width: inherit;
        display: block;
    }
    form.settingsform [type=submit]{
        border-radius: 30em;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        background-color: var(--green-grey);
        height: 2em;
        width: 24vw;
        align-items: center;
    }

    img.raindrop{
        position:fixed ;
        top:0px;
        width:10vw;
        height:10vw;
        animation: rainfall 1.5s linear ;
      }
      @keyframes rainfall{
        0%{transform: translate(0px,-10vh); }
        100%{transform: translate(0px,100vh); }
      }
      .raining-modal-container{
          position: fixed;
          left:0;
          top:0;
        width:100%;
        height:100%;
        background-color: hsla(210deg,60%,70%,0.43)
      }
      .raining-modal{
          text-align: center;
        position: fixed;
        background-color: hsla(210deg,60%,95%);
        width:20em;
        height:15em;
        padding:5em 2em;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
      }
      .raining-modal >form{
        width:100%;
        margin:0;
        display:block;
      }
      .raining-modal >form > input[type=submit]{
        background-color: hsla(210deg,60%,50%);
        width: inherit;
      }
      .raining-modal >form > input[type=submit]:hover,
      .raining-modal >form > input[type=submit]:focus{
        background-color: hsla(210deg,60%,70%);
        border: 2px solid  hsla(210deg,60%,20%);
      }
      

@keyframes grow {
    0% {
        transform: scale(0.2);
    }

    85% {
        transform: scale(1);
    }
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    36% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 800px) {

    .logo {
        margin-left: 1rem;
        padding: 0;
    }

    .tagline-container {
        left: 1rem;
    }

    .selling-point {
        font-size: 1em;
    }

    .plant-details {
        align-items: center;
        flex-direction: column;
        width: calc(100% - 2em);
        margin: 1em;
    }

    .plant-details>* {
        width: 100%;
        text-align: center;
    }
    

    .plant-details-display-container {
        margin: 0;
        height: 12em;
        width: 12em;
    }


    .plant-details-actions {
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% - 10em);
        margin: auto;
        padding:0;
    }
    .plant-details-info>h1::after{
        margin-left:auto;
        margin-right:auto; 
        width:20%;
    }

    .plant-details-actions>a{
        width: auto;
    }
    
    .plant-details-actions>a>svg{
        margin: 0;
    }

    .action-caption {
        display: none;
    }

    .plant-details-display>svg {
        transform: translateY(8%);
    }

    .profile-cont{
        margin: 2em 0 0 0;
        padding:0 1rem;
    }
    .settings-actions{
        margin: 2em 0 0 0;
        padding:0 1rem;
    }
    .profile-cont>div{
        margin:0 0 1rem 0;
    }

}

@media only screen and (max-width: 550px) {
    .activity-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity-cont {
        width: 80%;
        margin-bottom: 1rem;
    }

    .selling-point {
        top: 90vw;
        font-size: 1.75em;
    }

    .logo {
        margin-left: 0;
        background-color: var(--green-grey);
        border-radius: 50%;
        width: 1.2em;
    }

    .logo:hover,
    .logo:focus {
        background-color: var(--greener-grey);
    }

    .logo-text {
        display: none;
    }

    .logo svg {
        margin: auto;
    }

    .login-form {
        width: 100%;
    }
}
.invalid{
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-red);
    color: var(--darkest-red);
    background-color: var(--lightest-red);
    margin-bottom: 0;
}
.invalid:focus{
    background-color: var(--grey);
}
.content-section{
        width: min(80vw, 1000px);
        margin: 2em auto 0;
}
.content-section>h1 {
    margin-bottom: 1rem;
}